<div id="post_show_content" class="skinny_wrapper wrapper_padding">
        <header>
            <p class="date"><%= @post.created_at.strftime("%A, %B %d")%></p>
            <h1><%= @post.title %></h1>
            <hr>
        </header>
        <div id="content">
            <%= @post.content%>
        </div>
        <hr>
        <div id="share_box">
            <p>Share Article 1</p>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>  
        </div>
        <hr>
    </div>

<br>
<br>

<%= link_to "Edit", edit_post_path(@post)%>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you Sure you want to delete this post?"}%>
