<!DOCTYPE html>
<html>
  <head>
      <title>My site Title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header id="main_navigation" class="clearfix">
        <%= link_to "Zach Bohenick", root_path, class: "name" %>
        <nav>
        <%= link_to "Articles", posts_path %>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <%= yield %>

        <footer id="main_footer">
        <p class="copyright">&copy; 2019 Zach Bohenick</p>
        <nav>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>     
        </nav>

    </footer>
  </body>
</html>
